<main>
  <h1>CareerScope NYC</h1>
  <p id="homepageDesc">
    Welcome to our CareerScope NYC, your home for everything NYC public sector jobs.
    <br><br>
    <a href="/compare">Compare</a> your career history with others to find out how your salary stacks up and what job
    options you may want to pursue in the future.
    <br><br>
    Search <a href="/jobs">Active Job Listings</a> to easily apply and track your applications all in one place.
    <br><br>
    <a href="/auth/login">Login</a> or <a href="/auth/register">Register</a> to store your career history and get more
    personalized recommendations.
    <br><br>
    Or view another user's page for inspiration by clicking their name below.
  </p>

  <div id="publicProfiles">
    <h2>Public Profiles</h2>
    <p>Check out the job experience of some of our users!</p>
    <ul id="publicProfileList">
      {{#each publicUsers}}
      <li>
        <a href="/user/{{_id}}">{{firstName}} {{lastName}}</a>
      </li>
      {{/each}}

    </ul>



  </div>
</main>